{% extends 'base.html.twig' %} {% block main %} {# la ligne suivante est pour
charger Bootstrap pour les formulaires #} {# {% form_theme form
'bootstrap_4_layout.html.twig' %} #}
<div class="d-flex justify-content-around">
  <section class="left-block p-5 m-5 border border-light">
    <h1 class="display-4">Customization</h1>
    <div class="info mt-4 mb-4">
      <p>Selected gadget: {{ gadget }}</p>
      <p>Selected joke: {{ idJoke }}</p>
    </div>
    <button
      type="button"
      class="btn btn-warning btn-lg btn-block font-weight-bold mb-4"
    >
      <a href="{{ path('home') }}">Back to Jokes</a>
    </button>
    <!-- picture with sample images  -->
    <div class="sample-picture-container border border-warning p-5">
      <img
        src="{{ asset('/assets/img/tshirt-black-front.png') }}"
        class="sample-picture p-3"
      />
      <img
        src="{{ asset('/assets/img/tshirt-black-back.png') }}"
        class="sample-picture p-3"
      />
    </div>
  </section>

  <section class="right-block p-5 m-5 border border-light">
    <!-- gadget selection -->
    <div class="gadget-switch border border-light p-3 m-3">
      <button
        id="T-shirt"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center active"
      >
        T-shirt
      </button>
      <button
        id="Mousepad"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center"
      >
        Mousepad
      </button>
      <button
        id="Poster"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center"
      >
        Poster
      </button>

      <p class="p-1 mt-5">
        100 % fine jersey cotton, relaxed fit, unisex, Made in EU.
      </p>
    </div>

    <!-- color selection -->
    <div class="color-selection border border-light p-3 m-3">
      <p>Color: {selected color}</p>
      <div class="color-squares d-flex justify-content-around p-3">
        <label class="d-flex justify-content-center align-items-center">
          <span class="color-box black border border-warning active m-2"></span>
          <input
            type="radio"
            class="color-input"
            id="black"
            title="black"
            name="size"
            checked
          />
        </label>
        <label class="d-flex justify-content-center align-items-center">
          <span class="color-box bg-white border border-dark m-2"></span>
          <input
            type="radio"
            class="color-input"
            id="white"
            title="white"
            name="size"
          />
        </label>
        <label class="d-flex justify-content-center align-items-center">
          <span class="color-box bg-danger border border-dark m-2"></span>
          <input
            type="radio"
            class="color-input"
            id="red"
            title="red"
            name="size"
          />
        </label>
        <label class="d-flex justify-content-center align-items-center">
          <span class="color-box blue border border-dark m-2"></span>
          <input
            type="radio"
            class="color-input"
            id="blue"
            title="blue"
            name="size"
          />
        </label>
      </div>
    </div>

    <!-- size selection -->
    <div class="size-selection border border-light p-3 m-3">
      <p>Size: {selected size}</p>
      <div
        class="size-squares d-flex justify-content-around border border-light p-3 text-center"
      >
        <label for="xs">XS</label>
        <input
          name="color-selection"
          type="radio"
          id="xs"
          class="size-box border border-dark"
          value="xs"
        />
        <label for="s">S</label>
        <input
          name="color-selection"
          type="radio"
          id="s"
          class="size-box border border-dark"
          value="s"
        />
        <label for="m">M</label>
        <input
          name="color-selection"
          type="radio"
          id="m"
          class="size-box border border-dark"
          value="m"
          checked
        />
        <label for="l">L</label>
        <input
          name="color-selection"
          type="radio"
          id="l"
          class="size-box border border-dark"
          value="l"
        />
        <label for="xl">XL</label>
        <input
          name="color-selection"
          type="radio"
          id="xl"
          class="size-box border border-dark"
          value="xl"
        />
        <label for="2xl">2XL</label>
        <input
          name="color-selection"
          type="radio"
          id="2xl"
          class="size-box border border-dark"
          value="2xl"
        />
      </div>
    </div>

    <!-- add-to-cart selection -->
    <div class="cart-buttons border border-light p-3 m-3">
      <h4 class="text-capitalize text-primary mb-5">
        Price : { price of the item } €
      </h4>
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block font-weight-bold"
      >
        Add to Cart
      </button>
      <button
        type="button"
        class="btn btn-warning btn-lg btn-block font-weight-bold"
      >
        <a href="{{ path('cart') }}">Go to Cart</a>
      </button>
    </div>

    <!-- size chart (only for t-shirts)-->
    <div class="add-to-cart border border-light p-3 m-3">
      <table class="table table-hover text-justify">
        <thead>
          <tr>
            <th scope="col">Size</th>
            <th scope="col">Chest</th>
            <th scope="col">Waist</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default">
            <th scope="row">XS</th>
            <td>30-32in/77-82cm</td>
            <td>28-30in/72-77cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">S</th>
            <td>34-36in/87-92cm</td>
            <td>30-32in/77-82cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">M</th>
            <td>38-40in/97-102cm</td>
            <td>32-33in/82-84cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">L</th>
            <td>32-33in/82-84cm</td>
            <td>33-34in/84-87cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">XL</th>
            <td>46-48in/117-122cm</td>
            <td>36-38in/92-97cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">2XL</th>
            <td>48-50in/122-127cm</td>
            <td>40-42in/102-107cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
