{% extends 'base.html.twig' %} {% block main %} {# la ligne suivante est pour
charger Bootstrap pour les formulaires #} {% form_theme form
'bootstrap_4_layout.html.twig' %}

<div class="d-flex justify-content-around">
  <section class="left-block p-5 m-5 border border-light">
    <h1 class="display-4">Customization</h1>
    <div class="info mt-4 mb-4">
      <p>Selected gadget: {{ orderDetail.getGadget.type | upper }}</p>

      <p>Selected joke: {{ orderDetail.getJoke.getId }}</p>
      <p class="text-monospace">{{ orderDetail.getJoke.setup }}</p>
      <p class="text-monospace">{{ orderDetail.getJoke.punchline }}</p>
      <p class="font-italic">
        The image below is just representative. Imagine the final product with
        your chosen joke on it ;)
      </p>
    </div>
    <button
      type="button"
      class="btn btn-warning btn-lg btn-block font-weight-bold mb-4"
    >
      <a href="{{ path('home') }}">Back to Jokes</a>
    </button>
    <!-- picture with sample images  -->
    <div class="sample-picture-container border border-warning p-5">
      <img
        src="{{ asset('/assets/img/tshirt-black-front.png') }}"
        class="sample-picture p-3"
      />
      <img
        src="{{ asset('/assets/img/tshirt-black-back.png') }}"
        class="sample-picture p-3"
      />
    </div>
  </section>

  <section class="right-block p-5 m-5 border border-light">
    <!-- gadget selection -->
    <div class="gadget-switch border border-light p-3 m-3">
      <button
        id="T-shirt"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center active"
      >
        T-shirt
      </button>
      <button
        id="Mousepad"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center"
      >
        Mousepad
      </button>
      <button
        id="Poster"
        class="font-weight-bold btn btn-outline-primary ml-5 mt-2 p-2 text-center"
      >
        Poster
      </button>

      <p class="p-1 mt-5">
        {{ orderDetail.getGadget.description }}
      </p>
    </div>

    <!-- color selection -->
    {{ form_start(form) }}
    <div class="color-selection d-flex justify-content-around">
      {{ form_row(form.color) }}
    </div>
    <div class="color-squares d-flex justify-content-between pl-5">
      <span title="Black" class="color-box black border-dark"></span>
      <span title="White" class="color-box bg-white border border-dark"></span>
      <span title="Red" class="color-box bg-danger border border-dark"></span>
      <span title="Blue" class="color-box blue border border-dark"></span>
    </div>

    <!-- <label class="d-flex justify-content-center align-items-center">
         
          <input
            type="radio"
            class="color-input"
            id="black"
            name="size"
            checked
          />
        </label>
        <label class="d-flex justify-content-center align-items-center">
          
          <input type="radio" class="color-input" id="white" name="size" />
        </label>
        <label class="d-flex justify-content-center align-items-center">
         
          <input type="radio" class="color-input" id="red" name="size" />
        </label>
        <label class="d-flex justify-content-center align-items-center">
          
          <input type="radio" class="color-input" id="blue" name="size" />
        </label> -->

    <!-- size selection -->
    <div
      class="size-selection border border-light p-3 m-3 d-flex justify-content-around"
    >
      {{ form_row(form.size) }}
    </div>

    <!-- hidden input (joke and gadget) -->
    <div class="d-none">
      {{ form_row(form.joke) }} {{ form_row(form.gadget) }}
    </div>

    <!-- add-to-cart selection -->
    <div class="cart-buttons border border-light p-3 m-3">
      <h4 class="text-capitalize text-primary mb-5">
        Price : {{ orderDetail.getGadget.prix }} €
      </h4>
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block font-weight-bold"
        name="addToCart"
      >
        Add to Cart
      </button>
      <button
        type="button"
        class="btn btn-warning btn-lg btn-block font-weight-bold"
      >
        <a href="{{ path('cart') }}">Go to Cart</a>
      </button>
    </div>

    <!-- <input type="submit" class="btn" value="Envoyer" /> -->
    {{ form_end(form) }}

    <!-- size chart (only for t-shirts)-->
    <div class="add-to-cart border border-light p-3 m-3">
      <table class="size-chart table table-hover text-justify">
        <thead>
          <tr>
            <th scope="col">Size</th>
            <th scope="col">Chest</th>
            <th scope="col">Waist</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default">
            <th scope="row">XS</th>
            <td>30-32in/77-82cm</td>
            <td>28-30in/72-77cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">S</th>
            <td>34-36in/87-92cm</td>
            <td>30-32in/77-82cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">M</th>
            <td>38-40in/97-102cm</td>
            <td>32-33in/82-84cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">L</th>
            <td>32-33in/82-84cm</td>
            <td>33-34in/84-87cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">XL</th>
            <td>46-48in/117-122cm</td>
            <td>36-38in/92-97cm</td>
          </tr>
          <tr class="table-default">
            <th scope="row">2XL</th>
            <td>48-50in/122-127cm</td>
            <td>40-42in/102-107cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
