<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}"/>

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

	</head>
	<body>
		{# ----- nav bar ----- #}
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="{{ path('home') }}">Jokes for Geeks</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('home') }}">Home

							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li>
						<a class="nav-link my-2 my-lg-0" href=" {{ path('cart') }} ">
							<i class="fas fa-shopping-cart"></i>
						</a>
					</li>
				</ul>

			</div>
		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>

			<footer class="container-fluid bg-light">
				<ul class="d-flex justify-content-around">
					<li>copyright</li>
					<li>github</li>
					<li>remerciements</li>
				</ul>
			</footer>


			{% block javascripts %}
				{#{{ encore_entry_script_tags('app') }}#}
			{% endblock %}
		</body>
	</html>
